@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');
/* Стили таблицы (CitiesTable) */
table#CitiesTable{
    text-decoration: none;
    border-collapse:collapse;
    width:100%;
    text-align:center;
}
table#CitiesTable th{
    font-family: 'Balsamiq Sans', cursive;
    font-weight:normal;
    font-size:16px;
    color:#ffffff;
    background-color:#354251;
}
table#CitiesTable th{
    white-space:pre-wrap;
    padding:10px 5px;
    line-height:13px;
    vertical-align: middle;
    border: 1px solid #354251;
    cursor:pointer;
}
table#CitiesTable tr:hover{
    backdrop-filter: blur(8px);
}
table#blackRow, tr:hover td{
}
.mobile-table{
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}
#pinkRow td{
    white-space:pre-wrap;
    padding:10px 5px;
    line-height:13px;
    vertical-align: middle;
    border: 2px solid #ff0099;
}
#blackRow td{
    white-space:pre-wrap;
    padding:10px 5px;
    line-height:13px;
    vertical-align: middle;
    border: 2px solid black;
}
#redRow td{
    white-space:pre-wrap;
    padding:10px 5px;
    line-height:13px;
    vertical-align: middle;
    border: 2px solid red;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
    background-image: url(images/1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a{
    font-size:20px;
}

header{

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.day {
    border-radius:4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align:center;
    padding:20px;
    margin-bottom: 20px;
    width:20%;
}
.day, #demo {
    background-image: linear-gradient(141deg, #9fb8ad 0%, #6600FF 45%, #6600CC 75%);
}
.textName{
    font-size:1.8em;
    color:#e8ffe8;
    text-shadow: 0 0 5px #070707;
}
/*Popup*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}
.modal .modal_content {
    display: flex;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 99999;
}
.modal .modal_content .close_modal_window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}